/*----------------Pulsating Marble----------------*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0;
    
  }
  
  div.pulsating_marble {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow:
    0 0 20px #fff,
    -20px 0 80px #E42777,
    20px 0 80px #6c27e3,
    inset 0 0 50px #fff,
    inset 50px 0 80px #E42777,
    inset -50px 0 80px #6c27e3,
    inset 50px 0 300px #E42777,
    inset -50px 0 300px #6c27e3;
    animation: pulsate 6s linear infinite;
  }

  @keyframes pulsate {
    50% {
      box-shadow:
        0 0 20px #fff,
        20px 0 80px #E42777,
        -20px 0 80px #6c27e3,
        inset 0 0 50px #fff,
        inset -50px 0 80px #E42777,
        inset 50px 0 80px #6c27e3,
        inset -50px 0 300px #E42777,
        inset 50px 0 300px #6c27e3;
    }
  }
  /*------------End of Pulsating Marble----------------*/


  /*----------------Head------------------------------ */
  div.head{
    font-family: 'Yellowtail', cursive;
    color: white;
    height:inherit ;
    width: 100%;
    font-size: 100px;
  }
  /*-------------End of Head--------------------------*/

  /*-------------Glowing Text-------------------------*/
  @import url('https://fonts.googleapis.com/css?family=Warnes');

  :root {
	--animation-time: 5s;	
  }

  html, body {
	  height: 100%;
  }

  * {
    margin: 0;
    padding: 0;
    font-family: 'Yellowtail', cursive
  }

  .text {
	margin-top: 100px;
    text-align: center;
  }

  h1 {
	color: white;
    letter-spacing: 8px;
  }

  .glow {
      text-align: center;
	text-shadow: 0 0 20px #E42777;
	animation: 3s glow-effect infinite alternate;
  }

  @keyframes glow-effect {
	  100% {
		text-shadow: 0 0 10px #E42777, 0 0 15px #E42777, 0 0 20px #E42777;
	  }
  }
  /*-----------------End of Glowing Text-----------------*/