/*----------------Pulsating Marble----------------*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0;
    background-color: black;
  }
  
  div.pulsating_marble {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow:
    0 0 20px #fff,
    -20px 0 80px #E42777,
    20px 0 80px #6c27e3,
    inset 0 0 50px #fff,
    inset 50px 0 80px #E42777,
    inset -50px 0 80px #6c27e3,
    inset 50px 0 300px #E42777,
    inset -50px 0 300px #6c27e3;
    animation: pulsate 6s linear infinite;
    margin-top: auto;
    margin-bottom: 100px;
  }

  @keyframes pulsate {
    50% {
      box-shadow:
        0 0 20px #fff,
        20px 0 80px #E42777,
        -20px 0 80px #6c27e3,
        inset 0 0 50px #fff,
        inset -50px 0 80px #E42777,
        inset 50px 0 80px #6c27e3,
        inset -50px 0 300px #E42777,
        inset 50px 0 300px #6c27e3;
    }
  }
  /*------------End of Pulsating Marble----------------*/

  h1.welcome{
      color: white;
      font-family: 'Open Sans', sans-serif;
      justify-content: center;
      font-size: 60px;
      margin: 0;
      height: inherit;
  }
